.header{
    max-height: 90px;
    width: 100%;
    background-color: var(--vazur);
}
.logo-header{
    background-image: url("/public/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 64px;
    height: 64px;

    cursor: pointer;
}
.nav-bar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.nav-bar-header-items{
    margin: 0; 
    padding: 4px; 

    font-size: 18px;
}
.nav-bar-header-item{
    display: inline;
    padding-left: 10px;
}
.nav-bar-header-item> a{
    color: var(--white);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.nav-bar-header-item> a:hover{
    color: var(--gold);
    transform: translateY(-10px);
}
.connect> a {
    color: var(--white);
    transition: all 0.3s ease-in-out;
}
.connect> a:hover{
    color: var(--gold);
}
.connect-button{
    margin: 0px 20px;
    color: var(--vazur);
}
.connect-button:hover{
    color: var(--gold);
    background-color: var(--white);
}
.fas{
    display: none;
    color: var(--white);
}
@media screen and (max-width: 1400px) {
    .telephone-item{
        display: none;
    }
  }
  
@media screen and (max-width: 1200px) {
    .fas{
        display: block;
        height: 100%;
        width: 100%;
    }
    .nav-bar-header-items {
      display: none;
    }
    .fa-times{
        position: relative;
        z-index: 3;
      }
}
@media only screen and (max-width: 980px){
    .header{
        position: fixed;
        z-index: 3;
        top: 0;
    }
    .nav-bar-header-items-active>li {
       font-size: 40px;
    }
    .fa-times:before{
        font-size: 40px;
    }
    .fa-bars:before {
        font-size: 40px;
    }
    .nav-bar-header{
        height: 90px;
    }
    .connect-button{
        font-size: 30px;
    }
    .menu-icon{
        position: absolute;
        left: 50%;
    }
}
.nav-bar-header-items-active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--vazur);
    z-index: 2;
  }
  .nav-bar-header-items-active>li{
    margin: 0px 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    border: 1px solid var(--gold);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
  }