.header{
    max-height: 90px;
    width: 100%;
    background-color: var(--vazur);
}
.logo-header{
    position: relative;
    left: 50%;
    background-image: url("/public/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 64px;
    height: 64px;

    cursor: pointer;
}
.nav-bar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.nav-bar-header-items{
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: visibility 0s ease 0.3s, transform 0.3s ease;
    transform: translateX(-1400px);
}
.nav-bar-header-items-active {
    display: flex;
    visibility: visible;
    transform: translateX(0);
    
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: var(--vazur);
    z-index: 2;
    
  }
  .nav-bar-header-items-active::before{
    position: absolute;
    content: "";
    width: 180vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

  }
  .nav-bar-header-items-active>li{
    position: relative;
    margin: 0px 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    border: 1px solid var(--gold);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
  }
.nav-bar-header-item{
    display: inline;
    padding-left: 10px;
}
.nav-bar-header-item> a{
    color: var(--white);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.nav-bar-header-item> a:hover{
    color: var(--gold);
    transform: translateY(-10px);
}
.connect> a {
    color: var(--white);
    transition: all 0.3s ease-in-out;
}
.connect> a:hover{
    color: var(--gold);
}
.connect-button{
    margin: 0px 20px;
    color: var(--vazur);
}
.connect-button:hover{
    color: var(--gold);
    background-color: var(--white);
}
.menu-icon{
    position: absolute;
    left: 5%;
}
.menu-icon-active{
    position: fixed;
    z-index: 3;
    left: 15%;
}
.fas{
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    color: var(--white);
}
.fa-times{
    position: relative;
    z-index: 3;
    left: 20%;
  }
@media screen and (max-width: 1400px) {
    .telephone-item{
        display: none;
    }
  }
@media only screen and (max-width: 980px){
    .header{
        position: fixed;
        z-index: 3;
        top: 0;
        border-radius:0px 0px 20px 20px;
    }
    .nav-bar-header-items-active{
        width: 100%;
    }
    .nav-bar-header-items-active>li {
       font-size: 40px;
    }
    .fa-times:before{
        font-size: 40px;
    }
    .fa-bars:before {
        font-size: 40px;
    }
    .nav-bar-header{
        height: 90px;
    }
    .connect-button{
        font-size: 30px;
    }
    .menu-icon-active{
        left: 50%;
    }
    
}