.OurAdvantages{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 20px;
  margin-top: 80px;
}

.advantages-container{
  width: 80%;
  min-height: 60vh;
  max-height: fit-content;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: aliceblue;
  position: relative;
  border-radius: 15px;
}
.about-project-text-container{
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about-project-card{
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 0px 70px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.06);
}
.container1{
  background-image: url("./img-our-adv/1.png");
}
.container2{
  background-image: url("./img-our-adv/2.png");
}
.about-project-connect-text{
  margin-top: 20px;
  text-align: center;
  color: #0000009a;
}
.advantages-paragraph{
position: relative;
margin-bottom: 30px;
width: 80%;
text-align: center;
}
.advanteges-header{
text-align: center;
position: relative;
color: var(--gold);
width: 80%;
padding-bottom: 40px;
border-bottom: 1px solid var(--vazur);
}
@media screen and (max-width: 1200px){
  .OurAdvantages {
    margin-top: 40px;
}
.advantages-container {
  margin-top: 20px;
}
}
@media only screen and (max-width: 980px) {
  .about-project-card{
    flex-direction: column;
  }
  .advanteges-header {
    font-size: 50px;
}
.advantages-container {
    min-height: 460px;
  background-attachment: local;  
}
.advantages-paragraph {
  text-align: center;
  font-size: 40px;
}
.about-project-text-container >button{
  font-size: 40px;
  padding: 20px;
  height: auto ;
  box-shadow: 4px 4px 10px rgba(8, 8, 8, 0.404);
}
.last-paragpaph{
  padding-bottom: 20px;
  border-bottom: 1px solid var(--vazur);
}
}
