.buy-invest{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    }
.buy-invest-container:nth-child(2){
    margin-top: 100px;
}
    .buy-invest-container{
    border: 2px solid var(--vazur);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    }
    
    .buy-block{
    padding: 30px;
    text-align: center;
    }
    
    .buy-block>h3{
    color: var(--gold);
    padding-bottom: 10px;
    }
    
    .invest-block{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1 1 50%;
    }
    
    .invest-block>h3{
    color: var(--gold);
    }
    
    .invest-block>p{
    padding-top: 10px;
    }
    .invest-block>p:nth-child(4){
        font-weight: 600;
        color: var(--gold);
    }
    .invest-block>span{
    padding-top: 10px;
    }
    
    .invest-block>span:nth-child(4){
    font-weight: bold;
    font-size: larger;
    color: var(--vazur);
    }
    
    @media screen and (max-width: 1200px){
        .buy-block .invest-block>p{
            font-size: 30px;
        }
        .buy-block .invest-block>h3{
            font-size: 30px;
        }
      }
      @media only screen and (max-width: 980px) {
        .buy-invest-container {
            flex-direction: column;
        }
        .invest-block>p{
            font-size: 30px;
        }
        .invest-block>h3{
            font-size: 30px;
        }
        .buy-block>p{
            font-size: 30px;
        }
        .buy-block>h3{
            font-size: 30px;
        }
      }
 